<h1>Add a picture</h1>

<%= form_tag "/pictures" do %>
  <div class="field">
    <%= label_tag :artist %><br>
    <%= text_field_tag :artist %>
  </div>

  <div class="field">
    <%= label_tag :title %><br>
    <%= text_field_tag :title %>
  </div>

  <div class="field">
    <%= label_tag :url %><br>
    <%= text_field_tag :url %>
  </div>

  <div>
    <%= submit_tag "Save" %>
  </div>
<% end %>