<h1>Add a picture</h1>

<%= form_for @picture do |f| %>

  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= submit_tag "Save" %>
  </div>

<% end %>